
@import './variables.scss';

.about{
    &-container{
        display: grid;
        margin: 0rem; 
        color:rgb(194, 198, 201);
        grid-template-columns: repeat(12, 1fr);
        justify-items: center;
    }
    &-image{
        grid-row:1/2;
        align-self: center;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        background-attachment: contain;
        background-origin: content-box; 
        border-radius: 1.3em 0rem 0rem 0rem;
        grid-column: 1/8;
        z-index: 0;
        img{ 
            inline-size: 100%;
            max-height: 50vh;
            border-radius: 1.3rem 0rem 0rem 0rem;
            opacity: 0.5;
            //2310 2324 2540 capacitacion 
       }
    }

    &-description{
        grid-row:1/2;
        z-index: 1;
        margin: 0;  
        grid-column:6/12; 
        align-self: center;
        background-color: $background-secundary;
        padding: 0.5rem 1rem 1rem 2rem;
        border-radius: 0.3rem  0.3rem 1.5rem 0.3rem;
        opacity: 0.85;

        &-title{
            position: relative;
            margin-bottom: 0.2rem;
            font-weight: bold;
            font-size: 1.5rem; 
            color: #fbc2eb;
            font-weight: 500;
        }
    }

}


@media screen and (min-width: $media-breackpoint-up-md) and (max-width:$media-breackpoint-down-lg){
 .about{
    &-image{
    grid-column: 1/9;
 }
    &-description{
    grid-column:5/13;
}
}
}

@media screen and (min-width: $media-breackpoint-up-sm) and (max-width:$media-breackpoint-down-md){
    .about{
        &-image{
        grid-column: 1/10;
     }
        &-description{
        grid-column:4/13;
    }
    }

}

@media screen and (min-width: $media-breackpoint-up-xs) and (max-width:$media-breackpoint-down-sm){
    .about{
        &-image{
        grid-column: 1/13;
     }
        &-description{
        grid-column:1/13;
    }
    }
}