//clases de astronauta dependiendo del tamaño
//total 3 clases
.astro-big{
    overflow: hidden;
    display: none; 
    width: 7vmin;
    height: 7vmin;
    img{
        animation: scale-image 8s infinite ;
        -webkit-animation:scale-image 8s infinite ;
        -moz-animation:scale-image 8s infinite ;
        }
}
.astro-medium{
    overflow: hidden;
    display: none; 
    width: 4.5vmin;
    height: 4.5vmin;
    img{
        animation: scale-image 8s 0.5s infinite ;
        -webkit-animation:scale-image 8s 0.5s infinite ;
        -moz-animation:scale-image 8s 0.5s infinite ;
        }
}
.astro-small{
    overflow: hidden;
    display: none; 
    width: 3vmin;
    height: 3vmin;
    img{
        animation: scale-image 8s 1s infinite ;
        -webkit-animation:scale-image 8s 1s infinite ;
        -moz-animation:scale-image 8s 1s infinite ;
        }
}

//clases de astro dependiendo del origen de partida y del tamaño 
//ejecutan una animacion distinta cada uno 
// total 15 clases

//las clases de big no tienen retardo en la animacion 
.astro-big-10{
    display: none; 
    position: absolute;
    animation: astro-origin-10 8s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-10 8s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-10 8s infinite , rotate 2s infinite;    
}
.astro-big-30{
    display: none; 
    position: absolute;
    animation: astro-origin-30 8s  infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-30 8s  infinite , rotate 2s infinite;
    -moz-animation:astro-rigin-30 8s  infinite, rotate 2s infinite ;    
}
.astro-big-50{
    display: none; 
    position: absolute;
    animation: astro-origin-50 8s  infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-50 8s  infinite , rotate 2s infinite;
    -moz-animation:astro-origin-50 8s  infinite , rotate 2s infinite;
 
}

.astro-big-70{
    display: none; 
    position: absolute;
    animation: astro-origin-70 8s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-70 8s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-70 8s infinite, rotate 2s infinite ;

}
.astro-big-90{
    display: none; 
    position: absolute;
    animation: astro-origin-90 8s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-90 8s infinite , rotate 2s infinite;
    -moz-animation:astro-origin-90 8s infinite, rotate 2s infinite ;

}
//las clases medium tienen retardo 0.5s en la animacion

.astro-medium-10{
    display: none; 
    position: absolute;
    animation: astro-origin-10 8s 0.5s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-10 8s 0.5s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-10 8s 0.5s infinite , rotate 2s infinite;    
}
.astro-medium-30{
    display: none; 
    position: absolute;
    animation: astro-origin-30 8s  0.5s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-30 8s  0.5s infinite , rotate 2s infinite;
    -moz-animation:astro-rigin-30 8s  0.5s infinite , rotate 2s infinite;    
}
.astro-medium-50{
    display: none; 
    position: absolute;
    animation: astro-origin-50 8s 0.5s infinite, rotate 2s infinite ;
    -webkit-animation:astro-origin-50 8s 0.5s infinite , rotate 2s infinite;
    -moz-animation:astro-origin-50 8s 0.5s infinite , rotate 2s infinite;

}

.astro-medium-70{
    display: none; 
    position: absolute;
    animation: astro-origin-70 8s 0.5s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-70 8s 0.5s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-70 8s  0.5s infinite , rotate 2s infinite;

}
.astro-medium-90{
    display: none; 
    position: absolute;
    animation: astro-origin-90 8s 0.5s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-90 8s  0.5s infinite , rotate 2s infinite;
    -moz-animation:astro-origin-90 8s 0.5s infinite, rotate 2s infinite ;
}

//las clases small tienen retardo 1s en la animacion

.astro-small-10{
    display: none; 
    position: absolute;
    animation: astro-origin-10 8s 1s infinite, rotate 2s infinite ;
    -webkit-animation:astro-origin-10 8s 1s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-10 8s 1s infinite , rotate 2s infinite;    
}
.astro-small-30{
    display: none; 
    position: absolute;
    animation: astro-origin-30 8s  1s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-30 8s  1s infinite , rotate 2s infinite;
    -moz-animation:astro-rigin-30 8s  1s infinite , rotate 2s infinite;    
}
.astro-small-50{
    display: none; 
    position: absolute;
    animation: astro-origin-50 8s 1s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-50 8s 1s infinite, rotate 2s infinite ;
    -moz-animation:astro-origin-50 8s 1s infinite , rotate 2s infinite;

}

.astro-small-70{
    display: none; 
    position: absolute;
    animation: astro-origin-70 8s 1s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-70 8s 1s infinite , rotate 2s infinite;
    -moz-animation:astro-origin-70 8s  1s infinite , rotate 2s infinite;

}
.astro-small-90{
    display: none; 
    position: absolute;
    animation: astro-origin-90 8s 1s infinite , rotate 2s infinite;
    -webkit-animation:astro-origin-90 8s  1s infinite , rotate 2s infinite;
    -moz-animation:astro-origin-90 8s 1s infinite , rotate 2s infinite;
}



//cambio de escala
@keyframes scale-image{
    from{width: 100%;height: auto;}
    to{ width: 25%; height: auto;}
}
// rotaciones 
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}

@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

//animaciones astronauta 
@keyframes astro-origin-10{
    from {top: 83%;opacity: 0.8;left:10%;}
    50%{top: 50%;opacity:0.5;}
    to {top: 20%;opacity: 0;left:50%;}
 }
 @keyframes astro-origin-30{
    from {top: 83%;opacity: 0.8;left:30%;}
    50%{top: 40%;opacity:0.5;}
    to {top: 20%;opacity: 0;left:50%;}
 }
 @keyframes astro-origin-50{
    from {top: 83%;opacity: 0.8;left:50%;}
    50%{top: 50%;opacity:0.5;}
    to {top: 20%;opacity: 0;left:50%;}
 }
 @keyframes astro-origin-70{
    from {top: 83%;opacity: 0.8;left:70%;}
    50%{top: 40%;opacity:0.5;}
    to {top: 20%;opacity: 0;left:50%;}
 }
 @keyframes astro-origin-90{
    from {top: 83%;opacity: 0.8;left:90%;}
    50%{top: 40%;opacity:0.5;}
    to {top: 20%;opacity: 0;left:50%;}
 }


