.home-title{
    //se podria tener otra forma de acceso 
    background-image: url('https://i.pinimg.com/originals/ca/db/91/cadb910ce65ddf4b84d3a53950afe71f.jpg');
    opacity: 0.9;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem ;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    cursor:default; 
}

#title{
    margin:0;
    font-family:monospace;
    // font-size:1.8rem;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #FFD700);
    color: transparent; 
    background-clip: text;
    
}

.icons{
    display: flex;
    flex-direction: row;
}

.icon-image-container{
    position: relative;
    cursor: pointer;
}
.span-tooltip{
    position: absolute;
    color:wheat;
    font-family: monospace;
    top:50%;
    height: 1.3rem;
    //se podria tener otra forma de acceso 
    background-image: url('./../assets/img//space_1.jpg');
    font-size: 0.9rem;
    overflow: hidden;
    width: 0;
    opacity: 0.8;
}


.icon-image{
    width: 3rem;
    height: 3rem;
    margin: 2vw;
}
.icon-image-container:hover .span-tooltip{
    width: 4.5rem;
    transition: 1.3s;
    border-radius: 0.5rem;
    padding: 0.32rem 0.32rem 0.17rem 0.32rem;

}

.icon-image:hover{
    animation:  pulsacion 1.5s ease infinite ;
}

@keyframes pulsacion{
    0%  { transform:scale(1.1) }
    50% { -webkit-transform:scale(.8); }
    100%{ transform:scale(1.1) }
  }
