@import './variables.scss';

.container-projects{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr ;
    justify-items: center;
    background-color: $background-primary-dark;
    min-height: 100vh;
    
}
