@import './variables.scss';

.loading{
    background-color:$background-secundary;

    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    
    justify-content: center;
    
}

.loader {
    width: 3rem;
    height: 3rem;
    animation: loader 2.3s ease ;
}

@keyframes loader {
    0% {
        height: 12px;
    }
    25% {
        height: 50px;
    }
    50% {
        height: 10px;
    }
    75% {
        height: 25px;
    }
    100% {
        height: 12px;
    }
}