@import './variables.scss';

.project-item{
        &-container{
            display: grid;
            margin-top: 3rem;
            margin-bottom: 3rem; 
            color:rgb(194, 198, 201);
            grid-template-columns: repeat(13, 1fr);
           

            grid-template-rows: 1fr;
            justify-items: center;
           
        }
        &-info{ 
      
            grid-row: 1/2;
            z-index: 1;
            padding: 0;
            margin: 0; 
            
        
        }
        &-title{
            position: relative;
            margin-bottom: 0.8rem;
            font-weight: bold;
            font-size: 1.2rem; 
            color: #fbc2eb;
            font-weight: 500;
        }
        &-description{
            background-color: $background-secundary;
            align-self: center;
            padding:1rem;
            text-align: justify;
            z-index: 2;
            border-radius: 0.15rem; 
            opacity: 0.9; 
           
            
        }
        &-skills{

            align-self: flex-start;
            margin: 0rem;
            color:$background-secundary;
            color: #fbc2eb;
            font-weight: 349;
            
            
            
           
            .skills-ul{
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                z-index: 2;
            }
            .skill-li{
                list-style:none;
                display: inline;
                margin: 0; 
                margin-right: 0.38rem;
                font-weight: bolder;
            }
        }
        &-image{
            
            grid-row:1/2;
            align-self: center;
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            background-attachment: contain;
            border-radius: 0.15rem;
            img{
                inline-size: 100%;
                border-radius: 0.15rem; 
                opacity: 0.10;
                transition: opacity 1s ease; 
        
            }
            img:hover{
                opacity: 0.6;
            }
        }
        &-links{
            grid-column:13/14;
            grid-row:1/2;
            place-self: center;
            padding: 0;

            &-list{
                padding-inline-start: 0rem;
                padding-inline-end: 0rem;

                &-li{
                    list-style:none;
                }
            }  
        }
}



.project-item-left{
    &-info{ 
        grid-column: 1/8;
    }
    &-image{
        grid-column:7/13;   
    }
    &-links{
        grid-column:13/14;
    }
}
.project-item-right{
    &-info{ 
        grid-column:7/14;

    }
    &-title{
        text-align: right
    }

    &-skills{
        text-align: right;
        float: right;
        direction: rtl;
        
    }
    &-image{
        grid-column:2/8;
    }
    &-links{
        grid-column:1/2;
    }
}

.icon-link{
    // z-index: 2;
    width: 1rem;
    height: 1rem;
    margin: 0.4rem;
    opacity: 0.4;
    filter: invert(100%);
}
.icon-link:hover{
    opacity: 1;
 
}

@media screen and (min-width: $media-breackpoint-up-md) and (max-width:$media-breackpoint-down-lg) {
    .project-item-left{

        &-info{ 
            grid-column: 1/9;
        }
        &-image{
            grid-column:6/13; 
        }
    }

    .project-item-right{

        &-info{ 
            grid-column:6/14;
        }
        &-image{
            grid-column:2/9;
        }
        &-links{
            grid-column:1/2;
        }
    
    }
    
  }

  @media screen and (min-width: $media-breackpoint-up-sm) and (max-width:$media-breackpoint-down-md) {
    .project-item-left{

        &-info{ 
            grid-column: 1/11;
            opacity: 0.8;
        }
        &-image{
            grid-column:4/13;   
        }
        }
    .project-item-right{

            &-info{ 
                grid-column:4/14;
            }

            &-image{
                grid-column:2/11;
            }
 
        }


  }

  @media screen and (min-width: $media-breackpoint-up-xs) and (max-width:$media-breackpoint-down-sm) {
    .project-item-left{

        &-info{ 
            grid-column: 1/13;
        }
        &-image{
            grid-column:1/13;
            
        }
        &-links{
           margin: 0.5rem;
        }
        }

        .project-item-right{

            &-info{ 
                grid-column: 1/13;
            }
            &-title{
                text-align:left;
            }
            &-skills{
                
                float: left;
                direction: ltr;
                text-align: left;
                
            }

            &-image{
                grid-column:1/13;
            }
          
             &-links{
                margin: 0.5rem;
                grid-column:13/14;
            }
        
        }

}
  

