
// $base-size : 16;
// $spacing-xxxl : calc(80 / $base-size * 1rem);

//fuentes 
$primary-font : monospace;


//ashley palette 
$background-primary: #253173; 
$background-primary-dark: #182365; 
$background-secundary: #4D60A6 ;
$background-secundary-dark: #364589; 

// Responsive down size (variables para puntos de corte hacia abajo )
//son variables que contienen tamanos 

$media-breackpoint-down-xs : 413.98px ; 
$media-breackpoint-down-sm : 573.98px ; 
$media-breackpoint-down-md : 767.98px ; 
$media-breackpoint-down-lg : 991.98px ; 
$media-breackpoint-down-xl : 1199.98px ; 

// Responsive up size (variables para puntos de corte hacia arriba )

$media-breackpoint-up-xs : 320px ; 
$media-breackpoint-up-sm : 576px ; 
$media-breackpoint-up-md : 768px ; 
$media-breackpoint-up-lg : 992px ; 
$media-breackpoint-up-xl : 1200px ;